* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('facebook\ bg.png') no-repeat;
    background-size: cover;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;


}

.facebook {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: #1877F2;

}

h2 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: rgba(245, 245, 245, 0.7);
}

.wrap {
    width: 1000px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box {
    height: 500px;
    width: 400px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 25px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 30px;

    background-color: transparent;
    backdrop-filter: blur(10px);

    transition-property: all;
    transition-duration: 0.5s;

}

.box:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.421);
}

.box input {
    height: 40px;
    width: 300px;

    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 30px;

    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);


}

.login {
    height: 40px;
    width: 300px;


    background-color: #1677F0;
    color: white;

    font-size: 15px;
    font-weight: bolder;
    border-radius: 30px;

    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);

    transition-property: all;
    transition-duration: 0.5s;

}

.login:hover {
    transform: scale(1.05);
    background-color: #1678f075;
}

.box hr {
    width: 300px;
}

.new-account {
    height: 40px;
    width: 200px;


    background-color: #3BB721;
    color: white;

    font-size: 15px;
    font-weight: bolder;
    border-radius: 30px;

    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);

    transition-property: all;
    transition-duration: 0.5s;

}

.new-account:hover {
    transform: scale(1.05);
    background-color: #3ab7217e;
}

.logo {
    position: relative;


    background-color: transparent;
    backdrop-filter: blur(20px);

    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.80);

    padding: 10px;

    transition-property: all;
    transition-duration: 0.5s;
}

.logo:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.421);
}

#username {
    position: relative;
    top: 23px;
}
