*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;

    background: url('bg2.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
   border: none;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.70);

   height: 500px;
   width: 300px;

   border-radius: 30px;

   background-color: transparent;
   backdrop-filter: blur(7px);

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   transition-property: all;
   transition-duration: 0.8s;

}
.box:hover{
    transform: scale(1.09);
    box-shadow: 1px 1px 12px rgb(255, 255, 134,1);
}

.dp .front{

    height: 120px;
    width: 120px;
    border-radius: 50%;

    transition-property: all;
    transition-duration: 0.7s;

    filter: drop-shadow(1px 3px 15px rgb(255, 255, 134,1) )

}
.dp:hover .front{

    transform: scale(1.15);

}
#ig, #x, #yt, #fb{

    text-decoration: none;

    font-size: 30px;
    color: black;
    margin: 10px;

    display: inline-block;   

    transition: transform 0.7s ease;
    transition-property: all;

}
.profession #name{

    position: relative;
    top: 10px;
}

.profession{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;

}
#sub , #mess{
    height: 30px;
    width: 100px;

    margin: 2px;

    border-radius: 15px;

    font-weight: 900;
    color: rgb(155, 155, 155);
    background-color: black;

    border: none;

    transition-duration: 0.5s;
    transition-property: all;
    
}
#sub{

    box-shadow: 1px 1px 12px rgba(255, 0, 0, 0.5);

}
#sub:hover{

    transform: scale(1.15);
    background-color: rgb(255, 0, 0);

}
#mess{
    
    box-shadow: 1px 1px 12px rgba(0, 153, 255, 0.5);

}
#mess:hover{

    transform: scale(1.15);
    background-color: rgb(0, 0, 255);

}

#fb{

    filter: drop-shadow(2px 2px 5px rgba(24, 119, 242, 1) )

}
#fb:hover{

    transform: scale(1.4);
    color:rgb(115, 176, 255) ;

}

#x{
    color: white;
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0) )

}
#x:hover{
    transform: scale(1.4);
    color: black;

}

#yt{
    filter: drop-shadow(2px 2px 5px rgba(255, 0, 0, 0.85) )

}
#yt:hover{
    transform: scale(1.4);
    color:rgb(255, 77, 77) ;

}
#ig{
    filter: drop-shadow(2px 2px 5px rgba(193,53,132,1));
    
}
#ig:hover{
    transform: scale(1.4);
    color: rgb(255, 0, 144,1);
}
